<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <title>Post Office</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- replace with image -->
      <a class="navbar-brand p-2" href="#">FedUp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="./customerIndex.html">Customer View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="logout" aria-current="page" href="../index.html">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="postOffice" class="py-5 text-center block block-1">
    <img src="../assets/Fedex-logo.png" alt="Absolutely FedUp">
  </div>

  <div id="postOffice" class="py-5 text-center block block-2">
    <!-- maybe change this to a different container? -->
    <h2 class="mb-5">What do you want to do?</h2>
    <select class="form-select ms-auto me-auto half-width" aria-label="Default" name="form-change">
      <option selected disabled value="">Select Here!</option>
      <option value="viewPkgLocations">View packages at location</option>
      <option value="delete" id="delete">DELETE EMPLOYEE</option>
    </select>
  </div>
  <!-- add
  something -->
  <div class="viewPkgLocationsCall" id="viewPkgLocationsCall">
    <form class="needs-validation" id="viewPkgAtLocation" action="./showpackages.html">
      <div class="input-group half-width mx-auto py-1">
        <input type="text" class="form-control" id="validationDefault01" placeholder="Enter address here"
          aria-label="shippingAddress" aria-describedby="basic-addon1" required>
      </div>
      <div class="d-grid gap-2 mx-auto col-6 py-1">
        <button class="btn btn-primary" id="btnSubmit" type="submit">View Packages!</button>
      </div>
    </form>
  </div>
  <!-- update
  tracking number, new status -->
  <div class="killEmployeeCall" id="killEmployeeCall">
    <form class="needs-validation" id="terminate">
      <div class="input-group half-width mx-auto py-1">
        <select class="form-select" aria-label="Shipping Cost" required>
          <option selected disabled value="">Select Employee</option>
          <option value="1">Dave North</option>
          <option value="2">Kany Weast</option>
          <option value="3">Kornio kapaton</option>
        </select>
      </div>
      <div class="d-grid gap-2 mx-auto col-6 py-1">
        <button class="btn btn-danger" id="btnTerminate" type="submit">TERMINATE</button>
      </div>
    </form>
  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
  integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script src="../js/index.js"></script>

</html>